@tailwind base;
@tailwind utilities;
@tailwind components;

.headroom-wrapper > div {
  @apply bg-sky-200;
}

.grecaptcha-badge {
  visibility: hidden;
}

h2:has(.center-align),
h3:has(.center-align),
h4:has(.center-align),
h5:has(.center-align),
p:has(.center-align) {
  @apply text-center;
}

.primary-text {
  @apply text-[#0696a9];
}

.secondary-text {
  @apply text-secondary;
}

.accent-text {
  @apply text-accent;
}

.base-text {
  @apply text-base-100;
}

.info-text {
  @apply text-info;
}

.success-text {
  @apply text-success;
}

.warning-text {
  @apply text-warning;
}

.error-text {
  @apply text-error;
}

.hero-h1 {
  @apply leading-[3.5rem] md:leading-[4rem] lg:leading-[4.5rem] xl:leading-[5rem] !important;
}
